/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
	humidity_sensor {
		compatible = "dht11";
		gpios = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};
