// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Dongjin Kim <tobetter@gmail.com>
 */

/dts-v1/;

#include "meson-sm1-odroid.dtsi"

/ {
	compatible = "hardkernel,odroid-c4", "amlogic,sm1";
	model = "Hardkernel ODROID-C4";

	aliases {
		ethernet0 = &ethmac;
		i2c0 = &i2c2;
		i2c1 = &i2c3;
		serial0 = &uart_AO;
		serial1 = &uart_A;
		spi0 = &spicc0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x40000000>;
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio BOOT_12 GPIO_ACTIVE_LOW>;
	};

	leds {
		compatible = "gpio-leds";

		led-blue {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			panic-indicator;
		};
	};

	hub_5v: regulator-hub_5v {
		compatible = "regulator-fixed";
		regulator-name = "HUB_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v>;

		/* Connected to the Hub CHIPENABLE, LOW sets low power state */
		gpio = <&gpio GPIOH_4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	sound {
		model = "ODROID-C4";
	};
};

&cpu_opp_table {
	opp-1000000000 {
		opp-hz = /bits/ 64 <1000000000>;
		opp-microvolt = <799999>;
	};

	opp-1200000000 {
		opp-hz = /bits/ 64 <1200000000>;
		opp-microvolt = <809999>;
	};

	opp-1404000000 {
		opp-hz = /bits/ 64 <1404000000>;
		opp-microvolt = <819999>;
	};

	opp-1500000000 {
		opp-hz = /bits/ 64 <1500000000>;
		opp-microvolt = <829999>;
	};

	opp-1608000000 {
		opp-hz = /bits/ 64 <1608000000>;
		opp-microvolt = <859999>;
	};

	opp-1704000000 {
		opp-hz = /bits/ 64 <1704000000>;
		opp-microvolt = <899999>;
	};

	opp-1800000000 {
		opp-hz = /bits/ 64 <1800000000>;
		opp-microvolt = <939999>;
	};

	opp-1908000000 {
		opp-hz = /bits/ 64 <1908000000>;
		opp-microvolt = <999999>;
	};
};

&periphs_pinctrl {
	gpio-line-names =
		/* GPIOZ */
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		/* GPIOH */
		"", "", "", "", "",
		"PIN_36", /* GPIOH_5 */
		"PIN_26", /* GPIOH_6 */
		"PIN_32", /* GPIOH_7 */
		"",
		/* BOOT */
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		/* GPIOC */
		"", "", "", "", "", "", "", "",
		/* GPIOA */
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "",
		"PIN_27", /* GPIOA_14 */
		"PIN_28", /* GPIOA_15 */
		/* GPIOX */
		"PIN_16", /* GPIOX_0 */
		"PIN_18", /* GPIOX_1 */
		"PIN_22", /* GPIOX_2 */
		"PIN_11", /* GPIOX_3 */
		"PIN_13", /* GPIOX_4 */
		"PIN_7",  /* GPIOX_5 */
		"PIN_33", /* GPIOX_6 */
		"PIN_15", /* GPIOX_7 */
		"PIN_19", /* GPIOX_8 */
		"PIN_21", /* GPIOX_9 */
		"PIN_24", /* GPIOX_10 */
		"PIN_23", /* GPIOX_11 */
		"PIN_8",  /* GPIOX_12 */
		"PIN_10", /* GPIOX_13 */
		"PIN_29", /* GPIOX_14 */
		"PIN_31", /* GPIOX_15 */
		"PIN_12", /* GPIOX_16 */
		"PIN_3",  /* GPIOX_17 */
		"PIN_5",  /* GPIOX_18 */
		"PIN_35"; /* GPIOX_19 */
};

&gpio {
	/*
	 * WARNING: The USB Hub on the Odroid-C4 needs a reset signal
	 * to be turned high in order to be detected by the USB Controller
	 * This signal should be handled by a USB specific power sequence
	 * in order to reset the Hub when USB bus is powered down.
	 */
	hog-0 {
		gpio-hog;
		gpios = <GPIOH_4 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "usb-hub-reset";
	};
};

&ir {
	linux,rc-map-name = "rc-odroid";
};

&i2c2 {
	status = "okay";

	/*
	 * 40 Pin Header : SDA(GPIOX.17->3 Pin)
	 *		   SCL(GPIOX.18->5 Pin)
	 */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_master_pins1>;

	/* default 400k */
	clock-frequency = <400000>;
};

&i2c3 {
	/* default i2c clock-frequency is 100Khz */
	status = "okay";

	/*
	 * 40 Pin Header : SDA(GPIOA.14->27 Pin)
	 *		   SCL(GPIOA.15->28 Pin)
	 */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_master_pins2>;

	/* default 100k */
	clock-frequency = <100000>;
};

&periphs_pinctrl {
	i2c2_master_pins1: i2c2-master-pins1 {
		mux {
			groups = "i2c2_sda_x",
				"i2c2_sck_x";
			function = "i2c2";
			bias-pull-up;
			drive-strength-microamp = <3000>;
		};
	};

	i2c3_master_pins2: i2c3-master-pins2 {
		mux {
			groups = "i2c3_sda_a",
				"i2c3_sck_a";
			function = "i2c3";
			bias-pull-up;
			drive-strength-microamp = <3000>;
		};
	};
};

&pwm_AO_cd {
	pinctrl-0 = <&pwm_ao_d_e_pins>;
	pinctrl-names = "default";
	clocks = <&xtal>;
	clock-names = "clkin1";
	status = "okay";
};

&saradc {
	status = "okay";
};

/* SD card */
&sd_emmc_b {
	status = "okay";
	pinctrl-0 = <&sdcard_c_pins>;
	pinctrl-1 = <&sdcard_clk_gate_c_pins>;
	pinctrl-names = "default", "clk-gate";

	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <200000000>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	disable-wp;

	cd-gpios = <&gpio GPIOC_6 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&tflash_vdd>;
	vqmmc-supply = <&tf_io>;
};

/* eMMC */
&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_ctrl_pins>, <&emmc_data_8b_pins>, <&emmc_ds_pins>;
	pinctrl-1 = <&emmc_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";

	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	max-frequency = <200000000>;
	disable-wp;

	mmc-pwrseq = <&emmc_pwrseq>;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&flash_1v8>;
};

&spicc0 {
	status = "okay";

	pinctrl-names = "default","gpio_periphs";
	pinctrl-0 = <&spicc0_x_pins>;
	pinctrl-1 = <&spicc0_ss0_x_pins>;

	spidev@0 {
		status = "okay";

		compatible = "linux,spidev";
		reg = <0>;
		spi-max-frequency = <100000000>;
	};
};

&tdmif_b {
	status = "okay";
};

&tdmout_b {
	status = "okay";
};

&tohdmitx {
	status = "okay";
};

&uart_A {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart_a_pins>;
};

&uart_AO {
	status = "okay";
	pinctrl-0 = <&uart_ao_a_pins>;
	pinctrl-names = "default";
};

&usb {
	status = "okay";
	vbus-supply = <&usb_pwr_en>;
};

&usb2_phy0 {
	phy-supply = <&vcc_5v>;
};

&usb2_phy1 {
	/* Enable the hub which is connected to this port */
	phy-supply = <&hub_5v>;
};
