// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Hardkernel Co., Ltd.
 *
 */

#include "meson-g12b-odroid-n2.dts"
#include <dt-bindings/leds/common.h>

&{/} {
	aliases {
		i2c0 = &i2c2;
		i2c1 = &i2c3;
		i2c2 = &i2c0;
		i2c3 = &i2c1;
	};

	leds {
		led-blue {
			/delete-property/ label;
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_HEARTBEAT;
		};
	};
};

&i2c2 {
	status = "disabled";
	pinctrl-0 = <&i2c2_sda_x_pins>, <&i2c2_sck_x_pins>;
	pinctrl-names = "default";
};

&i2c3 {
	status = "disabled";
	pinctrl-0 = <&i2c3_sda_a_pins>, <&i2c3_sck_a_pins>;
	pinctrl-names = "default";
};

&pwm_cd {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_c_x5_pins &pwm_d_x6_pins>;
};

&pwm_ef {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_e_pins &pwm_f_x_pins>;
};
