// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Hardkernel Co., Ltd.
 *
 */

#include "meson-sm1-odroid-c4.dts"
#include <dt-bindings/leds/common.h>

&{/} {
	leds {
		led-blue {
			function = LED_FUNCTION_HEARTBEAT;
		};
	};
};

&pwm_ab {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_a_pins &pwm_b_x19_pins>;
};

&pwm_cd {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_c_x5_pins &pwm_d_x3_pins>;
};

&pwm_ef {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_e_pins &pwm_f_x_pins>;
};

&spicc0 {
	status = "disabled";
	cs-gpios = <&gpio GPIOX_10 GPIO_ACTIVE_LOW>;
	num-cs = <1>;
	pinctrl-0 = <&spicc0_x_pins>;
	pinctrl-names = "default";
};
