Source: linux-3.16.56-odroid
Section: kernel
Priority: optional
Maintainer: Dongjin Kim <tobetter@gmail.com>
Build-Depends: asciidoc-base | asciidoc, autoconf, automake, bc, bison, cpio, debhelper, dh-exec, dh-python, flex | flex:native, kernel-wedge, kmod, libaudit-dev, libbabeltrace-ctf-dev, libbabeltrace-dev, libdw-dev, libelf-dev, libglib2.0-dev, libiberty-dev, libnewt-dev, libnuma-dev [arm64], libpci-dev, libperl-dev, libssl-dev, libssl-dev:native, libtool, libudev-dev, libunwind8-dev [armhfarm64], libwrap0-dev, openssl, python-dev, python3:any, quilt, rsync, xmlto, xz-utils, gcc-6 [arm64 armhf], gcc-6-aarch64-linux-gnu [arm64], gcc-6-arm-linux-gnueabihf [armhf], flash-kernel
Standards-Version: 3.8.4
Homepage: http://www.kernel.org/

Package: linux-image-3.16.56-odroid
Provides: linux-image, linux-image-2.6, linux-modules-3.16.56-odroid
Suggests: linux-firmware-image-3.16.56-odroid
Architecture: any
Description: Linux kernel, version 3.16.56-odroid
 This package contains the Linux kernel, modules and corresponding other
 files, version: 3.16.56-odroid.

Package: linux-headers-3.16.56-odroid
Provides: linux-headers, linux-headers-2.6
Architecture: any
Description: Linux kernel headers for 3.16.56-odroid on ${kernel:debarch}
 This package provides kernel header files for 3.16.56-odroid on ${kernel:debarch}
 .
 This is useful for people who need to build external modules

Package: linux-libc-dev
Section: devel
Provides: linux-kernel-headers
Architecture: any
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
